<!DOCTYPE html >
<HTML ng-app='simpleModule'>
   <HEAD>
      <TITLE>
         A Simple Module
      </TITLE>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	  <script src="simplemodule.js"></script>
   </HEAD>
<BODY ng-controller='MyController'>
<br>
	<h1>Demo {{title}}</h1>
	<div>
		<p>
			<label for="valA">Your A:</label>
			<input type="number" id="valA" ng-model="valA">
		</p>
		<p>
			<label for="valB">Your B:</label>
			<input type="number" id="valB" ng-model="valB">
		</p>
		<p>
			Result: {{ result }}
		</p>
		<p>
			<button ng-click="add( valA, valB)"> Add </button>
			<button ng-click="multiple( valA, valB)"> Multiple </button>
		</p>
	</div>		
</BODY>
</HTML>
